events {
    worker_connections 1024;
}

http  {

    server {
        listen 80;
        server_name ${SERVER_NAME};

        # Let's Encrypt 인증서 발급을 위한 설정
        location /.well-known/acme-challenge/ {
            allow all;
            root /var/www/certbot;
        }
    }
}
